.content-editable {
  background-color: white;
  border-radius: 6px;
  border-width: 3px;
  border-style: dashed;
  border-color: #eee;
  padding: 5px;
  padding-left: 10px;
  padding-top: 8px;
}

.doneEditingButton {
  background-color: blue;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.recipecard {
  background-color: #efefef;
  border-radius: 10px;
  margin-top: -30px;
}



#title, #title-editable{
font-family: 'Josefin Sans', sans-serif;
font-size: 24pt;
text-transform: uppercase;
line-height: 1.5;
display: block;
}

#instructions-heading, #ingredients-heading{
font-family: 'Josefin Sans', sans-serif;
text-transform: uppercase;
}

.navbar {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  z-index: 9000;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}


.fixed-nav-bar {
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  overflow: visible;
  z-index: 9000;
  text-transform: uppercase;
  /* display: flex;
  flex-direction: column; */
}

.fixed-nav-bar a, button {
  float: left;
  display: block;
  color: #fcfcfc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100%
  border-style: none;
  border: none;
  background: none;
  z-index: 9000;
}

#navbar-search {
  float: right;
}

.container {
  padding-top: 50px;
}

@media screen {
  .fixed-nav-bar a:not(:first-child), .fixed-nav-bar button:not(:first-child) { display: none; }
  .fixed-nav-bar a.icon, .fixed-nav-bar button.icon {
    float: left;
    display: block;
    height: 50px;
  }
}

@media screen {
  .fixed-nav-bar.responsive {
    position: fixed;
    z-index: 9000;
  }

  .fixed-nav-bar.responsive a.icon, .fixed-nav-bar.responsive button.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .fixed-nav-bar.responsive a, .fixed-nav-bar.responsive button {
    float: none;
    display: block;
    text-align: left;
    overflow: visible;
    background-color: black;
    height: 50px;
  }
}

.fixed-nav-bar a:hover, .fixed-nav-bar button:hover {
  background-color: #444;
}

#navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  color: #fcfcfc;
  text-transform: uppercase;
  position: absolute;
  left:50%;
  margin-left: -64px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height:50px;
}

.minicard {
  height: 256px;
  background-color: #ebebeb;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.minicard-thumbnail {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 128px;
  display: block;
}

.minicard-title {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 5px;
}

.addnew {
  border-style: dashed;
  border-color: #444;
  border-width: 3px;
}

#droppy > .container {
  width: 100%;
  position: relative;
  top: -70px;
  height: 100px;
}

#droppy > .container > aside {
  position: absolute;
  height: 80px;
  top:45px;
}

#droppy {
  position:relative;
  top: 50px;
}

img { object-fit: cover; }

img[src$="none2.png"][modid$="0"] { filter: hue-rotate(0deg); }
img[src$="none2.png"][modid$="1"] { filter: hue-rotate(30deg); }
img[src$="none2.png"][modid$="2"] { filter: hue-rotate(60deg); }
img[src$="none2.png"][modid$="3"] { filter: hue-rotate(90deg); }
img[src$="none2.png"][modid$="4"] { filter: hue-rotate(120deg); }
img[src$="none2.png"][modid$="5"] { filter: hue-rotate(150deg); }
img[src$="none2.png"][modid$="6"] { filter: hue-rotate(180deg); }
img[src$="none2.png"][modid$="7"] { filter: hue-rotate(210deg); }
img[src$="none2.png"][modid$="8"] { filter: hue-rotate(240deg); }
img[src$="none2.png"][modid$="9"] { filter: hue-rotate(270deg); }
img[src$="none2.png"][modid$="11"] { filter: hue-rotate(300deg); }
img[src$="none2.png"][modid$="12"] { filter: hue-rotate(330deg); }

#add-recipe-modal { z-index: 9999; }
#search-modal { z-index: 9999; }

.minicard-title {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

#recipecard-image {
  width: 100%;
}

#favourite {
  background: none;
  border: none;
  font-size: 23px;

  position: relative;
  display: inline-flex;
  left: -10px;
  top: 0px;
  z-index: 3000;
}

.starfill {
  color: #FFFF33;
  -webkit-text-stroke: 1.5px #333;
}

.nofill:hover {
  color: #FFFF33;
  -webkit-text-stroke: 1.5px #333;
}



.editingButton {
  border: none;
  display: inline-flex;
  background: none;
  position: fixed;
  right:20px;
  bottom:20px;
  font-size: 48px;
}

#edit-image {
  display: inline-flex;
  background: none;
  border: none;
  position: relative;
  top: -55px;
  color: #aaa;
  -webkit-text-stroke: 1.5px #333;
  font-size: 36px;

}

.editingButton:hover, #edit-image:hover {
  background: none;
  border: none;
  /* font-size: 30px; */
  color: cornflowerblue;
}

.form-group {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

#add-recipe-submit {
}

.add-recipe-toggle {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  position: absolute;
  right: 15px;
  top: 5px;
}

#droppy-recipecard > .container {
  /* background-color: green; */
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 200px;
}

#preptime-field, #cooktime-field, #serves {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
}
#rowboy {
  position: relative;
  top: -30px;
}

#serves {
  position: relative;
  left: 0px;
}

#clock {
  display: inline-flex;
  font-size: 36px;
  position: relative;
  left: -50px;
  top: 55px;
  padding-top: -100px;
}

#cutlery {
  display: inline-flex;
  font-size: 36px;
  position: relative;
  right: 10px;
}

#serves-block {
  display: inline-flex;
  position: relative;
  padding-top: 20px;
  left: 20px;
}

#title-jumbotron {
  width: 100%;
  padding-bottom: 0px;
}

.tags > div {
  font-family: 'Roboto Slab', serif !important;
  font-size: 14px !important;
  border: none !important;
  background-color: #efefef !important;
}

.tags > div > div > input { text-overflow: ellipsis !important; }

.jumbotron {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 20px !important;
}

#description, #description-editable, .text-body {
  font-family: 'Roboto Slab';
  font-size: 18px;
}

#method, #method-editable, #ingredients, #ingredients-editable {
  font-family: 'Roboto Slab';
  font-size: 16px;
  white-space: pre-line;
}

#notes-heading {
  padding-top: 20px;
  font-family: 'Roboto Slab', sans-serif;
   font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

#date {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

.minicard:hover {
  filter: brightness(90%);
}



#minicard-delete:hover {
  color: red;
}

#minicard-delete {
  display:inline;
  color: tomato;
  font-size: 24px;
  -webkit-text-stroke: 1px #333;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 4000;
}

#delete-modal {
  position: fixed;
  top: 200px;

}

#del-buttons {
  font-family: 'Roboto Slab';
  font-size: 18px;
}

#del-buttons-primary {
  font-family: 'Roboto Slab';
  font-size: 18px;
  background-color: #ddf;
}

#delete-modal-title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 24px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 60px;
  background-color: lavender;
}

#carousel {
  padding-top: 100px;
}

#modal-delete {
  font-family: 'Josefin Sans', sans-serif;
}

.search-button {
  padding-top: 25px;
  text-align: center;
}
